[submodule "web/themes/ananke"]
	path = web/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "web/themes/docport"]
	path = web/themes/docport
	url = https://github.com/NoSugarCoffee/hugo-theme-docport.git